:root {
        --gradient: linear-gradient(90deg, rgba(3,0,54,1) 0%, rgba(121,9,89,1) 49%, rgba(0,212,255,1) 100%);
}

*{
        box-sizing: border-box;
}

body, html{
        height: 100vh;
        margin: 0;
}

body {
        display: flex;
        align-items: none;
        justify-content: center;
        overflow: hidden;
        position: relative;
        background: linear-gradient(125deg, #00103a 0%, #3e5f77 100%);
        
}

.sky-container {
        width: 100%;
        height: 100%;
}

.star {
        width: 20px;
        height: 20px;
        background-color: white;
        color: white;
        position: relative;
        animation: glowing 4s linear infinite alternate;
        border-radius: 50px;
        opacity: 5%;
        
        
}

.star:nth-child(1) {
        top: 75%;
        left: 35%;
}
.star:nth-child(2) {
        top: 40%;
        left: 15%;
}
.star:nth-child(3) {
        top: 21%;
        left: 85%;
}
.star:nth-child(4) {
        top: 45%;
        left: 67%;
}
.star:nth-child(5) {
        top: 10%;
        left: 15%;
}
.star:nth-child(6) {
        top: 91%;
        left: 55%;
}
.star:nth-child(7) {
        top: 5%;
        left: 76%;
}

.header {
        font-family: monospace;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        animation: dropDown 2s ease-out;
        opacity: 0.7;
        bottom: 10%;
        
        
}

.header h1 {
        color: white;
        
        width: 30%;
        height: 30%;
        text-align: center;
        line-height: 300%;
        background: rgb(3,0,54);
        background-image: var(--gradient);
        border-radius: 5%;
        background-size: 300%;
        background-position: left;
        transition: 1s;
        animation: header 7s infinite alternate;
        cursor: pointer;
        
        
}

.header:hover h1 {
        width: 90%;
}



.main-content {
        position: relative;
        bottom: 10%;
        width: 70%;
        height: 50%;
        /* background-color: rgba(94, 255, 0, 0.164); */
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        
        
        
}

.article1 {
        width: 90%;
        background-color: rgb(0, 0, 0);
        margin: 5%;
        text-align: center;
        font-family: monospace;
        box-shadow: 0 0 1px white;
        border-radius: 10px;
        
        
}
.main-content .dynamic-txt {
        margin-left: 15px;
        height: 20px;
        line-height: 20px;
        color: red;
        overflow: hidden;
}

.article1 p {
        color: pink;
        animation: text-glow 5s infinite alternate;
        font-size: 1.2rem;
        text-align: left;
}

.article1 ul li {
        text-align: left;
        color: greenyellow;
        /* animation: text-glow 5s infinite alternate; */
        font-size: 1.2rem;
}

.article2 {
        width: 40%;
        background-color: rgba(0, 0, 0, 0.651);
        margin: 5%;
}

.dynamic-txt li {
        position: relative;
        list-style: none;
        left: 10%;
        top: 0px;
        animation: slide 6s steps(3) infinite;
        
}

@keyframes slide {
     
   100%{
        top: -300%;
   }     
}

.dynamic-txt li span {
        position: relative;
}

.dynamic-txt li span::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        border-left: 2px solid red;
        animation: typing 2s steps(20) infinite;
        
}

.static-text {

        position: relative;
        top: 14%;
        left: 6%;
}

@keyframes typing {
        0% {
                left: 0%;
                
        }

        100% {
                left: 100%;
                
                margin: 0 -35px 0 35px;
        }

}







@keyframes glowing {
       0%{
               box-shadow: 0 0 0 5px white;
       }

       100%{
               box-shadow: 0 0 50px 55px white;
       }
}

@keyframes header {
        0% {
                background-position: left;
        }
        100%{
                background-position: right;
        }
}

@keyframes dropDown {
        0%{
                bottom: -100%;
                opacity: 0;
        }
        100%{
                
                bottom: 20%;
                opacity: 0.7;
        }
}

@keyframes text-glow {
        0%{
                text-shadow: 0 0 50px green;
        }
        100%{
                text-shadow: 0 20px 200px green;
                color: white;
        }
}


/* :root {
        --gradient: linear-gradient(
                90deg, rgba(104, 0, 153, 1) 0%, rgba(0, 91, 153,1) 100%     
        )
} */
/* 
body {
  background-image: var(--gradient);     
  background-size: 400%;
  animation: bg-animation 15s infinite alternate;
} */

/* @keyframes bg-animation {
        0% {background-position: left; }
        100% {background-position: right; }
} */