:root {
        --gradient: linear-gradient(90deg, rgba(3,0,54,1) 0%, rgba(121,9,89,1) 49%, rgba(0,212,255,1) 100%);
}

*{
        box-sizing: border-box;
        overflow: hidden;
}

body, html{
        height: 100vh;
        width: 100vw;
        margin: 0;
}




/* Begin background Design */
body {
        display: flex;
        align-items: none;
        justify-content: center;
        overflow: hidden;
        position: relative;
        background: linear-gradient(125deg, #00103a 0%, #3e5f77 100%);
        
}


.sky-container {
        width: 100%;
        height: 100%;     
}

.star {
        width: 20px;
        height: 20px;
        background-color: white;
        color: white;
        position: relative;
        animation: glowing 3.5s linear infinite alternate;
        border-radius: 50px;
        opacity: 10%;
        
        
}

.star:nth-child(1) {
        top: 75%;
        left: 35%;
        color: yellow;
}
.star:nth-child(2) {
        top: 40%;
        left: 15%;
        color: blue;
}
.star:nth-child(3) {
        top: 21%;
        left: 85%;
}
.star:nth-child(4) {
        top: 45%;
        left: 67%;
}
.star:nth-child(5) {
        top: 10%;
        left: 15%;
}
.star:nth-child(6) {
        top: 91%;
        left: 55%;
}
.star:nth-child(7) {
        top: 5%;
        left: 76%;
}

.neonGlow-1 {
        filter: blur(15px);
        border-radius: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: yellow;
        animation: neonGlowing-1 5s linear infinite;
}
.neonGlow-2 {
        filter: blur(15px);
        border-radius: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: red;
        animation: neonGlowing-2 5s linear infinite;
       
}

.neonGlow-3 {
        filter: blur(15px);
        border-radius: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: white;
        animation: neonGlowing-3 5s linear infinite;
        
       
}

.neonGlow-4 {
        filter: blur(15px);
        border-radius: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: green;
        top: 77%;
        animation: neonGlowing-4 5s linear infinite;
      
}





@keyframes neonGlowing-1 {
        0% {
                top: 0;
                right: 110%;
                width: 20px;
                height: 20px;
        }
        100%{
                top: 0;
                right: 0;
                width: 0;
                height: 0;
        }
}
@keyframes neonGlowing-2 {
        0% {
                width: 20px;
                height: 20px;
                right: 0%;
                top: 0%
        }
        100%{
                top: 77%;
                right: 0%;
                width: 0;
                height: 0;
        }
}
@keyframes neonGlowing-3 {
        0%{
                width: 20px;
                height: 20px;
                left: 110%;
                top: 77%;
               
        }
        100%{
                left: 0%;
                top: 77%;
                width: 0;
                height: 0;
        }
}

@keyframes neonGlowing-4 {
        0%{
                width: 20px;
                height: 20px;
               left: 0%;
               
                
        }
        100%{
                left: 0%;
               
                top: 0%;
                width: 0;
                height: 0;
        }
}




/* End of BackGround Design */




/* GRID */

.outter-grid{
    height: inherit;
    width: inherit;
}

.main-grid{
     width: inherit;
     height: inherit;
      
}



/* Grid */



/* Header */



.header {
        
        font-family: monospace; 
        position: absolute;
        top: 0;
        opacity: 0.7;  
        grid-area: headerbar;    
          
}

.header h1 {
        color: white;      
        text-align: center;
        background: rgb(3,0,54);
        background-image: var(--gradient);
        border-radius: 5%;
        background-size: 300%;
        background-position: left;
        transition: 1s;
        animation: header 7s infinite alternate;
        cursor: pointer;
        text-shadow: 0 1px 5px;   
        width: 80%;    
        
}

        /* Animate header */
.header:hover h1 {
        width: 70%;
        filter: blur(1px);
}


.meditateBryant {
        max-width: 20%;
        max-height: 20%;
       position: absolute;
       top: 12%;
       left: 72%;
       border-radius: 40px;
       border: 1px solid #ccc;
       box-shadow: 5px -10px 10px white;
       animation: bryantglow 6s infinite alternate;
       transition: all 0.3s ease
}

.meditateBryant:hover {
        max-width: 25%;
        max-height: 25%;
}


@keyframes bryantglow {
        0%{
                box-shadow: 2px -10px 10px purple;  
                transform: skew(-5deg, 0);
        }
        100% {
                box-shadow: 2px 10px 10px skyblue;
                transform: skew(5deg, 0);
        }
}
/* End of Header */




/* Start of Terminal */

.main-content {
       display: block;
       position: absolute;
       bottom: 0%;
       width: 100%;
       height: 20%;
    
}

.article1 {
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-family: monospace;
}
 



.main-content .dynamic-txt {
        
        margin-left: 15px;
        height: 20px;
        line-height: 20px;
        color: red;
        overflow: hidden;
}

.article1 p {
        
        color: pink;
        animation: text-glow 5s infinite alternate;
        font-size: 0.8rem;
        text-align: left;
}

.article1 ul li {
        text-align: left;
        color: greenyellow;
        /* animation: text-glow 5s infinite alternate; */
        font-size: 1rem;
}

.article1 .static-text {
        position: relative;
        top: 0%;
        left: 0%;
}

.dynamic-txt {
        position: relative;
        top: 5%;
        left: 10%;
}


.dynamic-txt li {
        position: relative;
        list-style: none;
        left: 0%;
        top: 0;
        
        animation: slide 6s steps(3) infinite;
        
}

@keyframes slide {
     
   100%{
        top: -300%;
   }     
}


.dynamic-txt li span {
        position: relative;
}

.dynamic-txt li span::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        border-left: 2px solid red;
        animation: typing 2s steps(20) infinite;
        
}

.static-text {

        position: relative;
        top: 14%;
        left: 6%;
}


/* End of Termial */


/* Start of nav Bar */

.sidenav {
        grid-area: sidenavbar;

        font-family: monospace;
        font-size: 3rem;
}

.sidenav ul li {
        list-style-type: none;
        color: white;
        text-shadow: 0 1px 5px;      
}

.sidenav ul li:hover {
        color: red;
        cursor: pointer;
        font-size: 2rem;
        transition: all 0.5s ease-out;
}




/* End of Terminal */



/* Start of Footer Icons */
.outter-footer {

      width: 100%;
      
       position: absolute;
       left: 0%;
       bottom: 19%;
       display: flex;
       align-items: center;
       justify-content: center;
       
  
     
       
       
        
}

.footer-icons {
        background-color: rgba(54, 54, 54, 0.4);
        
      width: 75%;
      border-radius: 20px;
      margin: 3%;
      border: 1px solid #ccc;

        display: flex;
        padding: 3%;
        align-items: center;
        justify-content: center;
     
 
        
       
}

.github {
        max-height: 12%;
        max-width: 12%;
        margin: 0 1%;
        transition: all 0.3s ease;
}
        .github:hover {
                max-height: 16%;
                max-width: 16%;
                cursor: pointer;
        }

.htmlIcon {
        max-height: 12%;
        max-width: 12%;
        margin: 0 1%;
        transition: all 0.3s ease;
       
}
        .htmlIcon:hover {
                max-height: 16%;
                max-width: 16%;
                cursor: pointer;
        }

.reactIcon {
        max-height: 12%;
        max-width: 12%;
        animation: reactRotate 3s linear infinite;
        margin: 0 1%;  
        transition: all 0.3s ease;   
}
        .reactIcon:hover {
                max-height: 16%;
                max-width: 16%;
                cursor: pointer;
        }

.reduxIcon {
        max-height: 12%;
        max-width: 12%;
        animation: reduxtRotate 4s ease-in-out infinite alternate;
        margin: 0 1%; 
        transition: all 0.3s ease;     
}
        .reduxIcon:hover {
                max-height: 16%;
                max-width: 16%;
                cursor: pointer;
        }

.mochaIcon {
        max-height: 12%;
        max-width: 12%;
        margin: 0 1%;    
        transition: all 0.3s ease;
}
        .mochaIcon:hover {
                max-height: 16%;
                max-width: 16%;
                cursor: pointer;
        }
.nodeJsIcon {
        max-height: 12%;
        max-width: 12%;
        margin: 0 1%;    
        transition: all 0.3s ease;  
}
        .nodeJsIcon:hover {
                max-height: 16%;
                max-width: 16%;
                cursor: pointer;
        }


/* End of Footer Icons */






/* Begining of Loading Screen */

.loading-screen {
        display: none;
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: black;
}

/* End of Loading Screen */


/* Animations */

@keyframes reduxtRotate {
        0%{
                transform: rotate(0deg);
        }
        100%{
                transform: rotate(360deg);
        }
}



@keyframes reactRotate {
        0%{
                transform: rotate(0deg);
        }
        100%{
                transform: rotate(360deg)
        }
}



@keyframes typing {
        0% {
                left: 0%;        
        }
        100% {
                left: 100%;           
                margin: 0 -35px 0 35px;
        }

}

@keyframes glowing {
       0%{
               box-shadow: 0 0 0 5px white;
       }
       100%{
               box-shadow: 0 0 50px 55px white;
       }
}

@keyframes header {
        0% {
                background-position: left;
        }
        100%{
                background-position: right;
        }
}

@keyframes dropDown {
        0%{
                bottom: -100%;
                opacity: 0;
        } 
        100%{
                bottom: 10%;
        }
}

@keyframes text-glow {
        0%{
                text-shadow: 0 0 50px green;
        }
        100%{
                text-shadow: 0 20px 200px green;
                color: white;
        }
}

@keyframes onLoading {
      
                
}


/* Start of MEDIA queries */

@media screen 
        and (orientation: landscape) {
                
                .loading-screen {
                       
                }

                .outter-footer {
                        width: 60%;
                        left: 45%;
                        bottom: 34%;
                }

                .sidenav {
                        position: absolute;
                        top: 25%;
                        font-size: 1.5rem;
                }

                .main-content {
                      
                        height: 35%;
                }

                .meditateBryant {
                        max-width: 35%;
                        max-height: 35%;
                        top: 5%;
                }
        }



@media only screen and (min-width: 768px) {
        .main-grid {
                width: 100%;
                height: 90%;
                
                position: relative;
                display: grid; 
                grid-column-gap: 0px;
                grid-row-gap: 0px; 
                grid-template-areas: 
                        "headerbar headerbar. . . ."
                        ". . . . sidenavbar sidenavbar "
                        ". terminal terminal . sidenavbar sidenavbar "
                        ". terminal terminal . . ."
                        ". . . . . ."
                        ". . footerbar footerbar . .";
                        grid-template-columns: repeat(6, 2fr); 
                        grid-template-rows: repeat(6, 1fr);     
        }

        .main-content {
                grid-area: terminal;
            
        }

        .outter-footer {
                grid-area: footerbar;
                
        }

        .outter-grid{
                margin: auto;
        }
}


/* End of Media Queries */








