:root {
        --gradient: linear-gradient(90deg, rgba(3,0,54,1) 0%, rgba(121,9,89,1) 49%, rgba(0,212,255,1) 100%);
}

*{
        box-sizing: border-box;
        overflow: hidden;
}

body, html{
        height: 100vh;
        width: 100vw;
        margin: 0;
}




/* Begin background Design */
body {
        display: flex;
        align-items: none;
        justify-content: center;
        overflow: hidden;
        position: relative;
        background: linear-gradient(125deg, #00103a 0%, #3e5f77 100%);
        
}


.sky-container {
        width: 100%;
        height: 100%;
       
       
       
}

.star {
        width: 20px;
        height: 20px;
        background-color: white;
        color: white;
        position: relative;
        animation: glowing 4s linear infinite alternate;
        border-radius: 50px;
        opacity: 5%;
        
        
}

.star:nth-child(1) {
        top: 75%;
        left: 35%;
}
.star:nth-child(2) {
        top: 40%;
        left: 15%;
}
.star:nth-child(3) {
        top: 21%;
        left: 85%;
}
.star:nth-child(4) {
        top: 45%;
        left: 67%;
}
.star:nth-child(5) {
        top: 10%;
        left: 15%;
}
.star:nth-child(6) {
        top: 91%;
        left: 55%;
}
.star:nth-child(7) {
        top: 5%;
        left: 76%;
}

/* End of BackGround Design */




/* GRID */

.outter-grid{

        width: 100vw;
        height: 100vh;
        margin: auto;
        
}

.main-grid{
        display: block;
}



/* Grid */



/* Header */



.header {
        font-family: monospace; 
        position: relative;
        opacity: 0.7;  
        grid-area: headerbar;         
}

.header h1 {
        color: white;      
        text-align: center;
        background: rgb(3,0,54);
        background-image: var(--gradient);
        border-radius: 5%;
        background-size: 300%;
        background-position: left;
        transition: 1s;
        animation: header 7s infinite alternate;
        cursor: pointer;
        text-shadow: 0 1px 5px;       
        
}

        /* Animate header */
.header:hover h1 {
        width: 40%;
        filter: blur(1px);
}

/* End of Header */




/* Start of Terminal */

.main-content {
       display: blocks
    
}

.article1 {
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-family: monospace;
}
 



.main-content .dynamic-txt {
        
        margin-left: 15px;
        height: 20px;
        line-height: 20px;
        color: red;
        overflow: hidden;
}

.article1 p {
        
        color: pink;
        animation: text-glow 5s infinite alternate;
        font-size: 0.8rem;
        text-align: left;
}

.article1 ul li {
        text-align: left;
        color: greenyellow;
        /* animation: text-glow 5s infinite alternate; */
        font-size: 1rem;
}

.article1 .static-text {
        position: relative;
        top: 0%;
        left: 0%;
}

.dynamic-txt {
        position: relative;
        top: 5%;
        left: 10%;
}


.dynamic-txt li {
        position: relative;
        list-style: none;
        left: 0%;
        top: 0;
        
        animation: slide 6s steps(3) infinite;
        
}

@keyframes slide {
     
   100%{
        top: -300%;
   }     
}


.dynamic-txt li span {
        position: relative;
}

.dynamic-txt li span::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        border-left: 2px solid red;
        animation: typing 2s steps(20) infinite;
        
}

.static-text {

        position: relative;
        top: 14%;
        left: 6%;
}


/* End of Termial */


/* Start of nav Bar */

.sidenav {
        grid-area: sidenavbar;

        font-family: monospace;
        font-size: 3rem;
}

.sidenav ul li {
        list-style-type: none;
        color: white;
        text-shadow: 0 1px 5px;      
}

.sidenav ul li:hover {
        color: red;
        cursor: pointer;
        font-size: 4rem;
        transition: all 0.5s ease-out;
}




/* End of Terminal */



/* Start of Footer Icons */
.outter-footer {
        grid-area: footerbar;
        
}

.footer-icons {
        display: flex;
        padding: 5%;
       
}

.github {
        max-height: 15%;
        max-width: 15%;
  
}

.htmlIcon {
        max-height: 15%;
        max-width: 15%;
}

.reactIcon {
        max-height: 15%;
        max-width: 15%;
        animation: reactRotate 3s linear infinite;
}

.reduxIcon {
        max-height: 15%;
        max-width: 15%;
        animation: reduxtRotate 4s ease-in-out infinite alternate;
}

.mochaIcon {
        max-height: 15%;
        max-width: 15%;
       
}
.nodeJsIcon {
        max-height: 15%;
        max-width: 15%;
       
}

@media only screen and (min-width: 768px) {
        .main-grid {
                width: 100%;
                height: 90%;
                
                position: relative;
                display: grid; 
                grid-column-gap: 0px;
                grid-row-gap: 0px; 
                grid-template-areas: 
                        "headerbar headerbar. . . ."
                        ". . . . sidenavbar sidenavbar "
                        ". terminal terminal . sidenavbar sidenavbar "
                        ". terminal terminal . . ."
                        ". . . . . ."
                        ". . footerbar footerbar . .";
                        grid-template-columns: repeat(6, 2fr); 
                        grid-template-rows: repeat(6, 1fr);     
        }

        .main-content {
                grid-area: terminal;
            
        }
}


/* End of Footer Icons */


/* Animations */

@keyframes reduxtRotate {
        0%{
                transform: rotate(0deg);
        }
        100%{
                transform: rotate(360deg);
        }
}



@keyframes reactRotate {
        0%{
                transform: rotate(0deg);
        }
        100%{
                transform: rotate(360deg)
        }
}



@keyframes typing {
        0% {
                left: 0%;        
        }
        100% {
                left: 100%;           
                margin: 0 -35px 0 35px;
        }

}

@keyframes glowing {
       0%{
               box-shadow: 0 0 0 5px white;
       }
       100%{
               box-shadow: 0 0 50px 55px white;
       }
}

@keyframes header {
        0% {
                background-position: left;
        }
        100%{
                background-position: right;
        }
}

@keyframes dropDown {
        0%{
                bottom: -100%;
                opacity: 0;
        } 
        100%{
                bottom: 10%;
        }
}

@keyframes text-glow {
        0%{
                text-shadow: 0 0 50px green;
        }
        100%{
                text-shadow: 0 20px 200px green;
                color: white;
        }
}

@keyframes onLoading {
      
                
}




